.form-signin {
  width: 100%;
  max-width: 480px;
  padding: 15px;
  margin: auto;
  background-color: black;
  opacity: 80%;
  margin-top: 50px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin input[type="email"] {
  margin-bottom: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}